.footer-background-color-dim {
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 65vh;
    margin-top: -90px;
}

.footer-background-image {
      background: url(../../images/colors.jpeg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    width: 100vw;
    height: 65vh;
}

.footer-container {
    color: white;
}

.footer-row {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 60vh;
    margin: 0px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 200px;
}


.footer-icon-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(128, 128, 128, 0.651);
    margin-top: 50px;
}

.fab {
    margin: 10px;
}

.fa-facebook-square {
    font-size: 25px;
    color: rgba(128, 128, 128, 0.651);
}

.fa-twitter-square {
    font-size: 25px;
    color: rgba(128, 128, 128, 0.651);
}

.fa-instagram-square {
    font-size: 25px;
    color: rgba(128, 128, 128, 0.651);
}

.footer-company-info {
    color: rgba(128, 128, 128, 0.651);
    text-align: left;
    border-bottom: 1px solid rgba(128, 128, 128, 0.651);
    margin: 2px;
    padding: 3px;
}

.footer-email-information {
    color: rgba(128, 128, 128, 0.651);
    text-align: left;
    border-bottom: 1px solid rgba(128, 128, 128, 0.651);
    margin: 2px;
    padding: 3px;
}


.footer-phone-information {
    color: rgba(128, 128, 128, 0.651);
    text-align: left;
    border-bottom: 1px solid rgba(128, 128, 128, 0.651);
    margin: 2px;
    padding: 3px;
}

.footer-terms-and-conditions {
    width: 85vw;
    color: rgba(128, 128, 128, 0.651);
    font-weight: lighter;
    text-align: end
}

.footer-logo {
    margin-top: -50px;
}

.footer-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80vw;
}


.footer-button {
    margin-left: auto;
    border: 1px solid rgb(91,97,183);
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    height: 48px;
    width: 130px;
    line-height: 30px;
    font-weight: 500;
    font-size: 10px;
    color: rgb(91,97,183);
    transition: ease-in;
}

.footer-button:hover {
    background-color: rgb(91,97,183);
    color: black;
}
