
.container {
    padding: 2px;
    text-align: center;
    font-size: 34;
    font-weight: bolder;
}


.nav {
    padding: 20px;
    margin-top: 30px;
    margin-left: auto;
}

.nav-item {
    margin: 5px;
    border: none;
}



.nav-link{
    font-family: 'Playfair Display', serif;
    color: white;
}





/* The animation code */
@keyframes underline {
    from {border-bottom: none;}
    to {border-bottom: 1px solid black;}
  }
  
  /* The element to apply the animation to */
  .nav-link:hover{
    animation: slide 3s cubic-bezier(2, 2, 3, 3);
    border-bottom: 1px solid black;
    animation-name: underline;
    animation-duration: .15s;
  }



.nav-link:hover {
    color: white;

      /* This timing applies on the way IN */
  transition-timing-function: ease-out;

  /* A litttttle slower on the way in */
  transition: 0.25s;
  
  /* Move into place */
  transform: translateY(0);

}

.nav-button {
    border: 1px solid white;
    text-transform: uppercase;
    box-sizing: border-box;
    height: 48px;
    width: 130px;
    margin-top: -5px;
    line-height: 30px;
    font-weight: 500;
    font-size: 14px;
}

.nav-button:hover {
    color: white;
    border: none;
}



.nav-image {
    align-self: flex-start;
}



@keyframes buttonFiller {
    0% {
      width: 0%;
      background-color: teal;
    }

    5% {
        width: 5%;
      background-color: teal;
      }

      10% {
        width: 10%;
        background-color: teal;
      }

      15% {
        width: 15%;
        background-color: teal;
      }

      20% {
        width: 20%;
        background-color: teal;
      }

      25% {
          width: 25%;
      background-color: teal;
      }

      30% {
          width: 30%;
      background-color: teal;
      }

      35% {
          width: 35%;
      background-color: teal;
      }

      40% {
          width: 40%;
      background-color: teal;
      }

      45% {
          width: 45%;
      background-color: teal;
      }

      50% {
          width: 50%;
      background-color: teal;
      }

      55% {
          width: 55%;
      background-color: teal;
      }

      60% {
          width: 60%;
      background-color: teal;
      }

      65% {
          width: 65%;
      background-color: teal;
      }
      
      70% {
          width: 70%;
      background-color: teal;
      }

      75% {
          width: 75%;
      background-color: teal;
      }

      80% {
          width: 80%;
      background-color: teal;
      }

      85% {
          width: 85%;
      background-color: teal;
      }

      90% {
          width: 90%;
      background-color: teal;
      }

      95% {
          width: 95%;
      background-color: teal;
      }

      100% {
          width: 100%;
      background-color: teal;
      }

  
  }
  
  .fill-animation:hover {
    animation: buttonFiller .5s ease-in;
    cursor: pointer;
    color: black;
    animation-fill-mode: forwards;
  }


  @media only screen and (min-width: 992px) {
   .nav-link-button{
    margin-top: -5px;
   }

}

@media only screen and (min-width: 768px) {
    .nav-link-button{
        margin-top: -5px;
       }
}




  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


    .nav{
       width: 100vw;
       margin: 0px;
       padding: 0px;
       font-size: 10px;
       display: flex;
       flex-direction: row;
    }


    
    img {
        height: 50px;
        width: 50px;
    }


    .nav-link-button {
        border: none;
        font-size: 10px;
        margin: 0px;
        padding: 0px;
        margin-left: 200px;
        margin-top: -57px;
    }

    
    
}

