.hero-message-container-about {
    color: white;
    width: 50vw;
    height: 60vh;
    margin-left: 9.5vw;
    padding: 6vh;
       animation: anim-glow 2s ease infinite;
}



.sub-slogan-about{
    font-family: 'Playfair Display', serif;
  }
  
  .slogan-about{
    font-family: 'Slabo 27px', serif;
    border-bottom: 2px solid white;
    width: 37vw;
    padding: 2px;
  }
  
  
  .brilliance {
  color:white;
  font-size: 40px;
  text-align:center;
  animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.030, 0.515, 0.955);;
  }
  
  @keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255,255,255,.8),
                 0 0 20px rgba(255,255,255,.8),
                 0 0 22px  rgba(255,255,255,.8),
                 0 0 40px  rgba(231, 235, 27, 0.8),
                 0 0 60px  rgba(231, 235, 27, 0.8),
                 0 0 80px  rgba(228, 215, 41, 0.5),
                 0 0 100px rgba(236, 240, 43, 0.5),
                 0 0 140px rgba(209, 226, 50, 0.5),
                 0 0 200px yellow;
  }
  100% {
    text-shadow: 0 0 2px rgba(255,255,255,.8),
                 0 0 8px rgba(255,255,255,.8),
                 0 0 10px rgba(255,255,255,.8),
                 0 0 20px rgba(231, 235, 27, 0.8),
                 0 0 30px rgba(231, 235, 27, 0.8),
                 0 0 40px rgba(231, 235, 27, 0.8),
                 0 0 50px  yellow,
                 0 0 80px  yellow;
  }
  }
  
  
  
  .brilliance-blue {
    color:white;
    font-size: 40px;
    text-align:center;
    animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.030, 0.515, 0.955);;
    }
    
    @keyframes neonGlow {
    0% {
      text-shadow: 0 0 10px rgba(255,255,255,.8),
                   0 0 20px rgba(255,255,255,.8),
                   0 0 22px  rgba(255,255,255,.8),
                   0 0 40px  rgba(231, 235, 27, 0.8),
                   0 0 60px  rgba(231, 235, 27, 0.8),
                   0 0 80px  rgba(66,220,219,.5),
                   0 0 100px rgba(66,220,219,.5),
                   0 0 140px rgba(66,220,219,.5),
                   0 0 200px blue;
    }
    100% {
      text-shadow: 0 0 2px rgba(255,255,255,.8),
                   0 0 8px rgba(255,255,255,.8),
                   0 0 10px rgba(255,255,255,.8),
                   0 0 20px rgba(27, 110, 235, 0.8),
                   0 0 30px rgba(27, 65, 235, 0.8),
                   0 0 40px rgba(27, 152, 235, 0.8),
                   0 0 50px  blue,
                   0 0 80px  blue;
    }
    }

    .about-text {
        line-height: 2em;
        text-align: left;
    }

    .HM {
      margin: 10px;
      margin-top: 10px;
    }